* {
    margin: 10px;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
    box-shadow: inset;
    text-align: center;

}

body {
    background: #806A7F;
}

#startGame {
font-size: 50px;
padding: 10px;
border-radius: 10px;
}

#startGame:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color:#2c0d40;
    color: #fff;
}

.timer-count {
    padding: 5px;
    height: 20px;
    font-size: 20px;
    background: #2c0d40;
    color: #fff;
    text-align: center;
    display: inline-flex;
}
#question{
    visibility: hidden;
    font-size: 40px;
    font-style: oblique;
}
#choices {
    visibility: hidden;
    padding: 25px 0;
    background-color: aliceblue;
    width: 50%;
    max-width: 600px;
    margin: 10px auto 0;
    border-radius: 10px;
    border: 12px outset #201520;
    flex-direction: column;
    text-align: center;
    font-size: 20px;
    display: flex;
}

#checkanswer {
    display: none;
}
