* {
    margin: 10px;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
    box-shadow: inset;
    text-align: center;

}

body {
    background: #806A7F;
}



.timer-count {
    padding: 5px;
    height: 20px;
    font-size: 20px;
    background: #2c0d40;
    color: #fff;
    text-align: center;
    display: inline-flex;
}
#question{
    visibility: hidden;
    font-size: 40px;
    font-style: oblique;
}
#choices {
    visibility: hidden;
    padding: 15px 0;
    background-color: aliceblue;
    width: 95%;
    max-width: 600px;
    margin: 10px auto 0;
    border-radius: 10px;
    border: 12px outset #201520;
    display:flex;
    flex-direction: column;
    text-align: center;
    font-size: 100px;
}

#checkanswer {
    display: none;
}
